<!-- <section calss="dashboardsPage">
    
    <div class="row">
        <div class="col-4">
            <h1>Dashboard</h1>
        </div>
        <div class="col-8">
            <form [formGroup]="dashboardForm">
                <div class="row dashboardControls">
                    <div class="formControl">
                        <p-multiSelect [options]="zones" formControlName="zoneIds" appendTo="body"
                            optionLabel="displayText" optionValue="keyName" placeholder="All Zones"></p-multiSelect>
                    </div>
                    <div class="formControl">
                        <p-multiSelect class="formControl" [options]="services" formControlName="serviceIds"
                            appendTo="body" optionLabel="displayText" optionValue="keyName" placeholder="All Services">
                        </p-multiSelect>
                    </div>
                    <div class="formControl">
                        <p-dropdown [options]="dateRanges" class="formControl" optionValue="keyName"
                            formControlName="dateString" optionLabel="displayText">
                        </p-dropdown>
                    </div>
                    <div class="formControl">
                        <p-dropdown [options]="clients" class="formControl" optionValue="keyName"
                            formControlName="clientId" optionLabel="displayText">
                        </p-dropdown>
                    </div>
                </div>
            </form>
        </div>
    </div>
    

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-6 dcards">
        <div class="col">
            <div class="card radius-10 p-0">
                <div class="card-body">
                    <div class="card-header">
                        ALL SERVICE REQUESTS
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 text-primary">{{ statuses.ALL }}</h5>
                            <div class="ms-auto">
                                <p class="dashIcon sbg1">
                                    <i class="fa fa-fw fa-list"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 p-0">
                <div class="card-body">
                    <div class="card-header">
                        UNASSIGNED
                    </div>
                    <div class="card-body ">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 text-primary">{{ statuses.UNASSIGNED }}</h5>
                            <div class="ms-auto">
                                <p class="dashIcon sbg2">
                                    <i class="fa fa-fw fa-external-link"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 p-0">
                <div class="card-body">
                    <div class="card-header">
                        ASSIGNED
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 text-primary">{{ statuses.ASGN }}</h5>
                            <div class="ms-auto">
                                <p class="dashIcon sbg4">
                                    <i class="fa fa-fw fa-user-plus"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 p-0">
                <div class="card-body">
                    <div class="card-header">
                        IN PROGRESS
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 text-primary">{{ statuses.INPROGRESS }}</h5>
                            <div class="ms-auto">
                                <p class="dashIcon sbg5">
                                    <i class="fa fa-fw fa-spinner"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 p-0">
                <div class="card-body">
                    <div class="card-header">
                        COMPLETED
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 text-primary">{{ statuses.COMPLETED1 }}</h5>
                            <div class="ms-auto">
                                <p class="dashIcon sbg8">
                                    <i class="fa fa-fw fa-thumbs-up"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-10 p-0">
                <div class="card-body">
                    <div class="card-header">
                        NON-WORKABLE
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h5 class="mb-0 text-primary">{{ statuses.NWORK }}</h5>
                            <div class="ms-auto">
                                <p class="dashIcon sbg4">
                                    <i class="fas fa-times-circle"></i>
                                </p>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="row">
        <div class="col-8 ">
            <div class=" card  radius-10">
                <div class="card-body">
                    <apx-chart *ngIf="lineColumnChartOptions" [series]="lineColumnChartOptions.series"
                        [chart]="lineColumnChartOptions.chart" [xaxis]="lineColumnChartOptions.xaxis"
                        [title]="lineColumnChartOptions.title" [yaxis]="lineColumnChartOptions.yaxis"
                        [stroke]="lineColumnChartOptions.stroke" [dataLabels]="lineColumnChartOptions.dataLabels"
                        [labels]="lineColumnChartOptions.labels">
                    </apx-chart>
                </div>
        </div>
        </div>
       <div class=" col-4">
            <div class="card radius-10">
                <div class="card-body">
                    
                    <apx-chart *ngIf="donutChartOptions" [series]="donutChartOptions.series" [chart]="donutChartOptions.chart"
                        [xaxis]="donutChartOptions.xaxis" [title]="donutChartOptions.title" [labels]="donutChartOptions.labels"
                        [responsive]="donutChartOptions.responsive">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="tabBody">
                        <div class="row">
                            <div class="col-8">
                                <h2>Zone Wise Count 
                                </h2>
                            </div>
                        </div>
                        <p-table class="zoneTable" #dt [value]="zonewiseSRs" sortMode="single">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>Zone</th>
                                    <th>All SRs</th>
                                    <th>Completed</th>
                                    <th>In Progress</th>
                                    <th>Non-workable</th>
                                    <th>Pending</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
                                <tr>
                                    <td>{{rowData.cityName}}</td>
                                    <td>{{rowData.wappr + rowData.appr + rowData.asgn + rowData.inprg + rowData.wcomp +  rowData.rcomp + rowData.fcomp}}</td>
                                    <td>{{rowData.wcomp + rowData.fcomp}}</td>
                                    <td>{{rowData.inprg + rowData.delay}}</td>
                                    <td>{{rowData.nwork + 0}}</td>
                                    <td>{{rowData.appr + rowData.asgn + rowData.wappr}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
           
       </div>
       <div class="col-6">
            <div class="card radius-10">
                <div class="card-body">
                    <apx-chart *ngIf="lineChartOptions" [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
                        [xaxis]="lineChartOptions.xaxis" [title]="lineChartOptions.title" [legend]="lineChartOptions.legend"
                        [dataLabels]="lineChartOptions.dataLabels">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>


</section> -->
