@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
<div class="container-scroller">

    <nav id="navbarResponsive" class="sidebar sidebar-offcanvas" [ngClass]="{'active': isSidebarActive}">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo text-light" href="/dashboard">
                <h3 style="padding-top: 15px;">AFRICA AUTO CONNECT</h3>
            </a>
            <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                    alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal text-light">{{loggedUserName}}</h5>
                            <span>Super Admin</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item menu-items" (click)="dashboard()" style="cursor: pointer;">
                <a class="nav-link">
                    <span class="menu-icon">
                        <i class="fa-solid fa-chart-bar"></i>
                    </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items active" (click)="delers()" style="cursor: pointer;">
                <a class="nav-link">
                    <span class="menu-icon">
                        <i class="fa-solid fa-user-tie"></i>
                    </span>
                    <span class="menu-title">Dealer</span>
                </a>
            </li>
            <li class="nav-item menu-items" (click)="customerDetail()" style="cursor: pointer;">
                <a class="nav-link" style="cursor: pointer;">
                    <span class="menu-icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <span class="menu-title">Customers</span>
                </a>
            </li>
            <li class="nav-item menu-items" (click)="plan()" style="cursor: pointer;">
                <a class="nav-link">
                    <span class="menu-icon">
                        <i class="fa-solid fa-sack-dollar"></i>
                    </span>
                    <span class="menu-title">Subscription</span>
                </a>
            </li>
            <li class="nav-item menu-items" (click)="privacy()" style="cursor: pointer;">
                <a class="nav-link">
                    <span class="menu-icon">
                        <i class="fa-solid fa-shield-halved"></i>
                    </span>
                    <span class="menu-title">Edit Privacy Policy</span>
                </a>
            </li>
            <li class="nav-item menu-items" (click)="ads()" style="cursor: pointer;">
                <a class="nav-link">
                    <span class="menu-icon">
                        <i class="fa-solid fa-shield-halved"></i>
                    </span>
                    <span class="menu-title">Mobile Home</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row justify-content-between">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center">
                <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="assets/images/logo-mini.png"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-center justify-content-end">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">{{loggedUserName}}</p>
                                <!-- <i class="mdi mdi-menu-down d-none d-sm-block"></i>     -->
                                <i class="fa-solid fa-caret-down d-none d-sm-block ml-1"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="profileDropdown">
                            <h4 class="p-3 mb-0 bg-dark text-light">Profile</h4>
                            <div class="dropdown-divider"></div>
                            <!-- <a class="dropdown-item preview-item bg-secondary text-light">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle text-success">
                                        <i class="fa-solid fa-gear"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item preview-item bg-dark text-light" (click)="logOut()">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle text-danger">
                                        <!-- <i class="mdi mdi-logout text-danger"></i> -->
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1" (click)="logOut()">Log out</p>
                                    <!-- <a class="preview-subject mb-1 text-light">Log Out</a> -->
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    (click)="toggleSidebar()">
                    <span><i class="fa-solid fa-bars"></i></span>
                </button>
            </div>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row justify-content-between align-items-center">
                    <div>
                        <h2 class="text-light">Car Detail</h2>
                    </div>
                    <div>
                        <button type="button" (click)="editCarDetails()" class="btn btn-danger">Edit Car
                            Details</button>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div id="carouselExampleIndicators" class="carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (item of CarImages; track $index) {
                            <li [attr.data-target]="'#carouselExampleIndicators'" [attr.data-slide-to]="$index"
                                [class.active]="$index === 0"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (item of CarImages; track $index) {
                            <div class="carousel-item" [class.active]="$index === 0">
                                <img class="d-block" src="{{item.url}}" alt="Slide {{$index + 1}}" height="300px"
                                    width="400px" style="object-fit: cover;">
                            </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center mb-2">
                        <h2 class="text-light">Car Detail</h2>
                    </div>
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-overview-tab" data-toggle="tab"
                                    data-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview"
                                    aria-selected="true">Overview</button>
                                <button class="nav-link" id="nav-details-tab" data-toggle="tab"
                                    data-target="#nav-details" type="button" role="tab" aria-controls="nav-details"
                                    aria-selected="false">Specifications & Features Details</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-overview" role="tabpanel"
                                aria-labelledby="nav-overview-tab">
                                <h2 class="text-light">Over View</h2>
                            </div>
                            <div class="tab-pane fade" id="nav-details" role="tabpanel"
                                aria-labelledby="nav-details-tab">
                                <h2 class="text-light">Specifications & Features Details</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <h2>All Car Detail Data Show</h2> -->

                <table class="table col-8">
                    <tbody>
                        @for (CarDetail of carList; track $index) {
                        <p>{{CarDetail.image}}</p>
                        <tr>
                            <td class="text-light">Manuf Year</td>
                            <td class="text-right text-light font-weight-bold"> {{vehicalId}}</td>
                            <td class="text-right font-weight-medium text-light"> 56.35%
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light">Maharashtra</td>
                            <td class="text-right text-light font-weight-bold"> 800 </td>
                            <td class="text-right font-weight-medium text-light"> 33.25%
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light">Goa</td>
                            <td class="text-right text-light font-weight-bold"> 760 </td>
                            <td class="text-right font-weight-medium text-light"> 15.45%
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light">Chhattisgarh</td>
                            <td class="text-right text-light font-weight-bold"> 450 </td>
                            <td class="text-right font-weight-medium text-light"> 25.00%
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light">Karnataka</td>
                            <td class="text-right text-light font-weight-bold"> 620 </td>
                            <td class="text-right font-weight-medium text-light"> 10.25%
                            </td>
                        </tr>
                        <tr>
                            <td class="text-light">Kerala</td>
                            <td class="text-right text-light font-weight-bold"> 230 </td>
                            <td class="text-right font-weight-medium text-light"> 75.00%
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}