@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
<div class="container-scroller">

    <app-menu></app-menu>

    <div class="page-body-wrapper">

        <app-nav></app-nav>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                        <div class="card bg-dark" style="cursor: pointer;" (click)="customerDetail()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0 text-light">{{displayData?.ActiveCustomer || 0}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="icon icon-box-success ">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-light font-weight-normal">Active Customers</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                        <div class="card bg-dark" style="cursor: pointer;" (click)="delers()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0 text-light">{{displayData?.ActiveUnPaidDealer || 0}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="icon icon-box-success">
                                            <i class="fa-solid fa-user-tie"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-light font-weight-normal">Active Unpaid Importer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                        <div class="card bg-dark" style="cursor: pointer;" (click)="delers()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0 text-light">{{displayData?.ActivePaidDealer || 0}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="icon icon-box-success">
                                            <i class="fa-solid fa-car-rear"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-light font-weight-normal">Active Paid Importer</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                        <div class="card bg-dark" style="cursor: pointer;" (click)="activeCarList()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0 text-light">{{displayData?.ActiveVehical || 0}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="icon icon-box-success">
                                            <i class="fa-solid fa-car-rear"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-light font-weight-normal">Active Car</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                        <div class="card bg-dark" style="cursor: pointer;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0 text-light">{{displayData?.DeActiveVehical || 0}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="icon icon-box-success">
                                            <i class="fa-solid fa-car-rear"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-light font-weight-normal">DeActive Car</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                        <div class="card bg-dark" style="cursor: pointer;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="d-flex align-items-center align-self-start">
                                            <h3 class="mb-0 text-light">{{displayData?.DeletedVehical || 0}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="icon icon-box-success">
                                            <i class="fa-solid fa-car-rear"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-light font-weight-normal">Deleted Car</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card bg-dark">
                            <div class="card-body d-flex flex-wrap justify-content-between">
                                <form *ngIf="changeChart" [formGroup]="changeChart"
                                    class="col-12 d-flex flex-wrap justify-content-start align-items-center">
                                    <div class="col-12 col-md-4">
                                        <p-dropdown appendTo="body" [options]="chartWeekWise" optionValue="Id"
                                            styleClass="dark-dropdown" optionLabel="Name" placeholder="Search By Weekly"
                                            [filter]="true" [style]="{'color': '#000'}" (onChange)="changeWeekWise($event)"
                                            formControlName="week">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <p-dropdown appendTo="body" [options]="chartDayWise" optionValue="Id"
                                            styleClass="dark-dropdown" optionLabel="Name" placeholder="Search By Day"
                                            [filter]="true" [style]="{'color': '#000'}" (onChange)="changeDayWise($event)"
                                            formControlName="day">
                                        </p-dropdown>
                                    </div>
                                    @if(dateSelection){
                                    <div class="col-12 col-md-2">
                                        <p-calendar placeholder="Enter Start Date" formControlName="startDate"
                                            class="customeInput2 dark-background"></p-calendar>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <p-calendar placeholder="Enter End Date" formControlName="endDate"
                                            class="customeInput2 dark-background"></p-calendar>
                                    </div>
                                    }
                                    <div class="col-12 col-md-2">
                                        <button type="button" class="btn btn-danger"
                                            (click)="findChartData()">Find</button>
                                    </div>
                                </form>
                                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center mt-3">
                                    <div class="col-4">
                                        <h4 class="card-title">Importer Chart</h4>
                                        <div class="chart-container">
                                            <canvas id="dealerChart"></canvas>
                                        </div>
                                        @if(DealerChartMessage === true) {
                                        <p class="text-danger">No Importer Data Found</p>
                                        }
                                    </div>
                                    <div class="col-4">
                                        <h4 class="card-title">Customer Chart</h4>
                                        <div class="chart-container">
                                            <canvas id="customerChart">{{ customerChart }}</canvas>
                                        </div>
                                        @if(CustomerChartMessage === true) {
                                        <p class="text-danger">No Customer Data Found</p>
                                        }
                                    </div>
                                    <div class="col-4">
                                        <h4 class="card-title">Importer Inventory Chart</h4>
                                        <div class="chart-container">
                                            <canvas id="carChart">{{ carChart }}</canvas>
                                        </div>
                                        @if(DealerInventoryCarMessage === true) {
                                        <p class="text-danger">No Dealer Car Inventory Data Found</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card bg-dark">
                            <div class="card-body">
                                <h4 class="card-title text-light">Top Car Importer</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-light"> Importer Name </th>
                                                <th class="text-light"> Total Number of Cars Viewed </th>
                                                <th class="text-light"> Total Number of Inquiries </th>
                                                <th class="text-light"> City </th>
                                                <th class="text-light"> Status </th>
                                                <th class="text-light"> Details </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (item of topDealerList; track $index) {
                                            <tr>
                                                <td>
                                                    <img src="{{item.url}}" alt="image" style="object-fit: cover;" />
                                                    <span class="pl-2 text-light">{{item.DisplayName || 'N/A'}}</span>
                                                </td>
                                                <td class="text-light"> {{item.Total_Inquiry || 0}} </td>
                                                <td class="text-light"> {{item.Total_Inquired_Vehicals || 0}} </td>
                                                <td class="text-light"> {{item.CityName || 'N/A'}} </td>
                                                <td>
                                                    @if(item.IsActive_Dealer === true) {
                                                    <p class="text-success font-weight-bold my-0">
                                                        Active
                                                    </p>
                                                    } @else {
                                                    <p class="text-danger font-weight-bold my-0">InActive</p>
                                                    }
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-success btn-sm"
                                                        (click)="DealerDetails(item.DealerId)">Details</button>
                                                </td>
                                            </tr>
                                            }
                                            @if(topDealerList && topDealerList.length === 0) {
                                            <tr>
                                                <td colspan="6" class="text-center text-danger">There is no Data in the
                                                    list.</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card bg-dark">
                            <div class="card-body d-flex flex-wrap justify-content-between">
                                <div class="col-6">
                                    <h4 class="card-title">Car Inquiry Chart</h4>
                                    <div class="chart-container">
                                        <canvas id="carInquiryChart">{{ carInquiryChart }}</canvas>
                                    </div>
                                    @if(carForInquiryMessage === true) {
                                    <p class="text-danger mt-2">No Car Inquiry Data Found</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card bg-dark">
                            <div class="card-body">
                                <h4 class="card-title text-light">Top Car Dealer</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-light"> Dealer Name </th>
                                                <th class="text-light"> Total Number of Cars Inquires </th>
                                                <th class="text-light"> Total Number of Inquiries </th>
                                                <th class="text-light"> City </th>
                                                <th class="text-light"> Status </th>
                                                <th class="text-light"> Details </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (topVehicalList && topVehicalList.length > 0) {
                                            @for (item of topVehicalList; track $index) {
                                            <tr>
                                                <td>
                                                    <img src="{{item.url}}" alt="image" />
                                                    <span class="pl-2 text-light">{{item.DisplayName || 'N/A'}}</span>
                                                </td>
                                                <td class="text-light"> {{item.Total_Inquiry || 0}} </td>
                                                <td class="text-light"> {{item.Total_Inquired_Vehicals || 0}} </td>
                                                <td class="text-light"> {{item.CityName || 'N/A'}} </td>
                                                <td>
                                                    @if(item.IsActive_Dealer === true) {
                                                    <p class="text-success font-weight-bold my-0">
                                                        Active
                                                    </p>
                                                    } @else {
                                                    <p class="text-danger font-weight-bold my-0">InActive</p>
                                                    }
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-success btn-sm"
                                                        (click)="DealerDetails(item.DealerId)">Details</button>
                                                </td>
                                            </tr>
                                            }
                                            } @else {
                                            <tr>
                                                <td colspan="6" class="text-center text-light">No Data</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
}