@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
<div class="container-scroller">

    <app-menu></app-menu>

    <div class="page-body-wrapper">
        <app-nav></app-nav>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 mb-5 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="col-12 col-md-6">
                            <h2 class="text-start text-light">Subscription Plans</h2>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-end">
                            <button *ngIf="canInsertScription" type="button" class="btn btn-danger"
                                (click)="addPlan()"><i class="fa-solid fa-plus"></i> Add Plan</button>
                        </div>
                    </div>
                    @for (item of subscriptionGetAllPlan; track $index) {
                    <div class="col-md-4">
                        <div class="pricing-table red mb-4">
                            @if(item.Id === -1) {
                            <div class="pricing-label red text-success"
                                style="background-color: rgba(135, 255, 99, 0.2);">Free Price</div>
                            } @else {
                            <div class="pricing-label red" style="display: inline-block;">Paid Price</div>
                            }
                            <div>
                                <p>SubScribed User {{item.No_Of_Subscribed_Users}}</p>
                            </div>
                            <h2>{{item.SubscriptionName || 'N/A'}}</h2>
                            <h5>{{item.SubscriptionDescription || 'N/A'}}</h5>
                            <div class="pricing-features">
                                <div class="feature" *ngIf="item.NoOfCarAddLimit == -1">Car Listing<span>10</span></div>
                                <div class="feature" *ngIf="item.NoOfCarAddLimit == 0"> Car Listing
                                    <span>Unlimited</span>
                                </div>
                                <div class="feature" *ngIf="!item.hasOwnProperty('NoOfCarAddLimit')">car
                                    Listing<span>Unlimited</span></div>
                                <div></div>
                                <div class="feature">Plan Duration<span>{{item.SubscribDays || 0}} Days</span></div>
                            </div>
                            <div class="price-tag pb-3">
                                <span class="symbol">$</span>
                                <span class="amount">{{item.Amount || 0}}</span>
                                <!-- <span class="after">/month</span> -->
                            </div>

                            <div class="modal-footer border-0 p-0 ">
                                @if(item.Id === -1) { } @else {
                                <button *ngIf="canUpdateScription" class="btn btn-secondary"
                                    style="padding: 6px 20px 6px 20px;"
                                    (click)="editSubscription(item.Id)">Edit</button>
                                <button *ngIf="canDeleteScription" class="btn btn-danger  ms-2"
                                    (click)="deleteSubscription(item.Id)">Delete</button>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}