<section calss="CustomerAcquisitionsPage">
    <div class="row">
        <div class="col-12">
            <h1>Customer Acquisition List ({{totalRecords}})</h1>
        </div>
    </div>
    <p-dialog header="Search" [position]="'right'" [(visible)]="displayModal" [style]="{width: '20vw'}" [modal]="true"
        [baseZIndex]="-100" [draggable]="false" [resizable]="false" styleClass="searchDialog">
        <form *ngIf="searchForm" [formGroup]="searchForm" class="formWrap" (keydown.enter)="search()">
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Customers Name</label>
                        <input type="text" class="form-control abc" pInputText formControlName="customerIds"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addCustomerId($event)">
                        <div [ngClass]="filteredCustomers.length > 0 ? 'chipContainer' : ''">
                            <mat-chip-list #chipList aria-label="Customers">
                                <mat-chip *ngFor="let cust of filteredCustomers" [selectable]="selectable"
                                    [removable]="removable" (removed)="removeCustomerId(cust)">
                                    {{cust}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                       <label>Mobile</label> <!-- AN-39 -->
                        <p-inputMask mask="9999999999" formControlName="mobile"></p-inputMask>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Date From</label>
                        <input type="date" formControlName="requestFrom" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Date To</label>
                        <input type="date" formControlName="requestTo" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Status</label>
                        <p-dropdown appendTo="body" [options]="StatusArr" formControlName="status" class="ui-input"
                            optionValue="keyName" optionLabel="displayText" placeholder="-Select-">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="btnWrap">
                <div>
                    <button type="button" (click)="reset()" mat-button color="secondary">Reset</button>
                    <button type="submit" (click)="search()" mat-button color="primary">Search</button>
                </div>
            </div>
        </form>
    </p-dialog>
    <div class="search">
        <div class="searchHeader">
            <div class="criteria requestFormDataWrap" *ngIf="displayArr.length > 0">
                <label>Search</label>
                <div class="chipContainer">
                    <mat-chip-list #srChipList aria-label="Service Request Number">
                        <mat-chip *ngFor="let data of displayArr" [selectable]="selectable" [removable]="removable"
                            (removed)="removeSearching(data)">
                            {{data}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <div class="btnWrap mb-3 mt-2">
                <p-button class="cust-button" (click)="showBasicDialog()" matTooltip="Search" icon="pi pi-search">
                </p-button>
                <p-button class="cust-button-primary" (click)="addNewSR()" matTooltip="Create Service Request"
                    icon="pi pi-plus">
                </p-button>
            </div>
        </div>
        <!-- <ng-template pTemplate="caption">
            <div class="table-header ng-star-inserted" style="display: flex; justify-content: space-between;">
                <h4>

                </h4>
                <span class="p-input-icon-left">
                    <p-button (click)="showBasicDialog()" icon="pi pi-search" class="cust-button"></p-button>&nbsp;
                    <p-button (click)="addNewSR()" icon="pi pi-plus" class="cust-button"></p-button>&nbsp;
                    
                    <input pInputText type="text" style="margin-top: 10px;" class="p-inputtext p-component"
                        (keypress)="searchbox($any($event.target).value)" placeholder="Search" />

                </span>
            </div>
        </ng-template> -->
        <div class="searchTable">
            <div class="btnWrap mb-3" *ngIf="CustomerAcquisitions && CustomerAcquisitions.length > 0">
                <div>
                    <p-button (click)="exportCSV()" matTooltip="Export to CSV" icon="pi pi-file-excel"
                        class="cust-button"></p-button>&nbsp;
                    <!-- <button mat-button color="secondary" (click)="AssignmanpowerBulk(2)">Assign
                        Manpower</button>&nbsp;  -->
                    <!-- <button mat-button color="secondary" (click)="Assignmanpower('SERVICEREQUESTASSIGN')">Assign
                        Manpower
                    </button>&nbsp; -->
                    <!-- <button mat-button color="secondary" *ngIf="isgeneratePDFs" (click)="generatePDFs()">Generate PDFs
                    </button>&nbsp; -->
                    <input pInputText type="text" class="p-inputtext p-component"
                        (input)="searchbox($any($event.target).value)" placeholder="Search" />
                </div>
            </div>
            <p-table class="pTable" #dt [value]="CustomerAcquisitions" [columns]="cols" [showCurrentPageReport]="true"
                sortMode="single" [globalFilterFields]="[]" [filterDelay]="0" class="" [scrollable]="true"
                [rowHover]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr class="searchTr">
                        
                        <th id="header" *ngFor="let col of columns" (click)="sotingData(col.field);"
                            [pSortableColumn]="col.field"> {{col.header}}
                            <p-sortIcon *ngIf="col.field != 'action'" [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
                    <tr class="searchTr">
                        
                        <td><a  [routerLink]="['customer-acquisition-add-edit',rowData.id]">{{ rowData.leadNo }}</a>
                        </td>
                        <td>{{ rowData.customerName }}</td>
                        <td>{{ rowData.fatherHusbandName }}</td>
                        <td>{{ rowData.houseNo }}</td>
                        <td>{{ rowData.floor }}</td>
                        <td>{{ rowData.streetAreaSociety }}</td>
                        <td>{{ rowData.cityName }}</td>
                        <td>{{ rowData.stateName }}</td>
                        <td>{{ rowData.pincode }}</td>
                        <td>{{ rowData.mobile }}</td>
                        <td>{{ rowData.contactNo }}</td>
                        <td>{{ rowData.emailID }}</td>
                        <td>{{ rowData.typeOfOwnership }}</td>
                        <td>{{ rowData.orderDDChequeNo }}</td>
                        <td>{{rowData.paymentDate != null ?
                            this.service.Moment(rowData.paymentDate).format("MM-DD-YYYY"):''}}</td>
                        <td>{{rowData.drawnOn != null ? this.service.Moment(rowData.drawnOn).format("MM-DD-YYYY"):''}}</td>
                        <td>{{ rowData.amount }}</td>
                        <td>{{ rowData.customerID }}</td>
                        <td>{{ rowData.formNo }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="13">No Record Found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="content-section implementation " *ngIf="totalRecords > 10">
                <p-paginator [rows]="10" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"
                    [rowsPerPageOptions]="[10,20,30]"></p-paginator>
            </div>
        </div>
    </div>
</section>