@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
<div class="container-scroller">
    <div class="page-body-wrapper w-100">

        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 mb-3 d-flex flex-wrap justify-content-between">
                    <h2 class="text-light">Add Car Details</h2>
                    @if(!vehicalId){
                    <div class="input-group mb-3 w-50">
                        <!-- (change)="searchVin($event)" -->
                        <input type="text" class="form-control customeInput2 text-black"
                            placeholder="Search VIN Number..." aria-label="Search VIN Number..."
                            aria-describedby="button-addon2" [(ngModel)]="vinNumber">
                        <div class="input-group-append">
                            <button class="btn btn-danger" type="button" id="button-addon2"
                                (click)="searchClick()">Search</button>
                        </div>
                    </div>
                    }
                </div>

                <div class="col-12">
                    <form [formGroup]="myForm">
                        <mat-vertical-stepper [linear]="isLinear" #stepper class="bg-dark">
                            <!-- Step 1: Personal Information  background-color: black -->
                            <mat-step style="padding: 0 0 20px 0;;">
                                <ng-template matStepLabel>Basic Detail</ng-template>
                                <div class="d-flex flex-wrap justify-content-between align-items-start">
                                    <div class="col-2">
                                        @if(showMainImage === false){
                                        <ngx-file-drop class="col-12 p-0 image-class-for-main-loader"
                                            dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, 1)"
                                            (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                                            style="width: 200px; height: 200px; border: 2px dashed #DC3545; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                            <ng-template ngx-file-drop-content-tmp
                                                let-openFileSelector="openFileSelector">
                                                <div class="text-center">
                                                    <div class="text-light mr-2 mb-3">Upload Main Image</div>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="openFileSelector()">Browse Files</button>
                                                </div>
                                            </ng-template>
                                        </ngx-file-drop>
                                        } @else {
                                        @if(isUploadingMainImage) {
                                        <ng-container>
                                            <div class="upload-mainImage">
                                                <svg class="car" width="102" height="40"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g transform="translate(2 1)" stroke="#FC424A" fill="none"
                                                        fill-rule="evenodd" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path class="car__body"
                                                            d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                                                            stroke-width="3" />
                                                        <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF"
                                                            cx="83.493" cy="30.25" rx="6.922" ry="6.808" />
                                                        <ellipse class="car__wheel--right" stroke-width="3.2"
                                                            fill="#FFF" cx="46.511" cy="30.25" rx="6.922" ry="6.808" />
                                                        <path class="car__line car__line--top" d="M22.5 16.5H2.475"
                                                            stroke-width="3" />
                                                        <path class="car__line car__line--middle" d="M20.5 23.5H.4755"
                                                            stroke-width="3" />
                                                        <path class="car__line car__line--bottom" d="M25.5 9.5h-19"
                                                            stroke-width="3" />
                                                    </g>
                                                </svg>
                                            </div>
                                        </ng-container>
                                        } @else {
                                        @if(showMainImage === true) {
                                        <span class=" media-container">
                                            <img src="{{isMainImagePath.url}}" alt="Image" class="mr-2 mb-2 ml-2"
                                                width="200px" height="200px"
                                                style="object-fit: cover; border: 2px dashed #DC3545;" />
                                            <button class="btn btn-danger delete-btn"
                                                (click)="replaceMainImage(isMainImagePath)">Replace</button>
                                        </span>
                                        }
                                        }
                                        }
                                    </div>
                                    <div class="col-10 p-0 d-flex flex-wrap">
                                        @if(flexMaxMessage === true) {
                                        <p class="text-danger"><strong>Maximum Uploads 20 Photos/Video
                                                Reached!!!</strong></p>
                                        }
                                        <ngx-file-drop class="col-6 col-md-2 p-0 "
                                            dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, 0)"
                                            (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                                            style="width: 200px; height: 200px; border: 2px dashed #DC3545; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                            <ng-template ngx-file-drop-content-tmp
                                                let-openFileSelector="openFileSelector">
                                                <div class="text-center">
                                                    <div class="text-light mr-2 mb-3">Drag and Drop Photos & Videos here
                                                    </div>
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="openFileSelector()">Browse Files</button>
                                                </div>
                                            </ng-template>
                                        </ngx-file-drop>
                                        <div class="upload-table col-6 col-md-10 p-0">
                                            <!-- <p class="text-danger my-1">Images/Videos</p> -->

                                            @if(isUploading) {
                                            <ng-container>
                                                <div class="upload">
                                                    <svg class="car" width="102" height="40"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g transform="translate(2 1)" stroke="#FC424A" fill="none"
                                                            fill-rule="evenodd" stroke-linecap="round"
                                                            stroke-linejoin="round">
                                                            <path class="car__body"
                                                                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                                                                stroke-width="3" />
                                                            <ellipse class="car__wheel--left" stroke-width="3.2"
                                                                fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                                                                ry="6.808" />
                                                            <ellipse class="car__wheel--right" stroke-width="3.2"
                                                                fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                                                                ry="6.808" />
                                                            <path class="car__line car__line--top" d="M22.5 16.5H2.475"
                                                                stroke-width="3" />
                                                            <path class="car__line car__line--middle"
                                                                d="M20.5 23.5H.4755" stroke-width="3" />
                                                            <path class="car__line car__line--bottom" d="M25.5 9.5h-19"
                                                                stroke-width="3" />
                                                        </g>
                                                    </svg>
                                                </div>
                                            </ng-container>
                                            } @else {
                                            <span
                                                class="d-flex flex-wrap justify-content-start align-items-center ml-6">
                                                @for (imageUrl of imageShowCar; track imageUrl;) {
                                                @if (imageUrl.isMain === false || imageUrl.isMain === 0) {
                                                @if(imageUrl.type === 'I')
                                                {
                                                @if(imageUrl.isLoading !== true) {
                                                <span class="media-container">
                                                    <img src="{{imageUrl.url}}" alt="Image" class="mr-2 mb-2 ml-2"
                                                        width="150px" height="150px" style="object-fit: cover;" />
                                                    <button class="btn btn-danger delete-btn"
                                                        (click)="deleteImage(imageUrl.url, imageUrl.thumb, imageUrl.type, imageUrl.isMain)">Remove</button>
                                                </span>
                                                }@else {
                                                    <span class="media-container image-class-for-loader">
                                                        <img src="{{imageUrl.url}}" alt="Image" class="mr-2 mb-2 ml-2"
                                                            width="150px" height="150px" style="object-fit: cover; opacity: 0.5;" />
                                                            <div class="upload">
                                                                <svg class="car" width="102" height="40"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <g transform="translate(2 1)" stroke="#FC424A" fill="none"
                                                                        fill-rule="evenodd" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                        <path class="car__body"
                                                                            d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                                                                            stroke-width="3" />
                                                                        <ellipse class="car__wheel--left" stroke-width="3.2"
                                                                            fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                                                                            ry="6.808" />
                                                                        <ellipse class="car__wheel--right" stroke-width="3.2"
                                                                            fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                                                                            ry="6.808" />
                                                                        <path class="car__line car__line--top" d="M22.5 16.5H2.475"
                                                                            stroke-width="3" />
                                                                        <path class="car__line car__line--middle"
                                                                            d="M20.5 23.5H.4755" stroke-width="3" />
                                                                        <path class="car__line car__line--bottom" d="M25.5 9.5h-19"
                                                                            stroke-width="3" />
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                    </span>
                                                }
                                                } @else {
                                                <span class=" media-container">
                                                    <video controls alt="video" width="150px" height="150px"
                                                        class="mr-2 mb-2 ml-2">
                                                        <source src="{{imageUrl.url}}" type="video/mp4">
                                                    </video>
                                                    <button class="btn btn-danger delete-btn"
                                                        (click)="deleteImage(imageUrl.urlName, imageUrl.thumbName, imageUrl.type, imageUrl.isMain)">Remove</button>
                                                </span>
                                                }
                                                }
                                                }
                                            </span>
                                            }
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-start align-items-center">
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="isNewVehData"
                                                formControlName="isNewVeh" optionValue="Id" optionLabel="KeyName"
                                                placeholder="Select Veh Condition *" [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options">
                                            </p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="brandList" formControlName="MakerId"
                                                optionValue="Id" optionLabel="MakerName" placeholder="Brand Name *"
                                                [filter]="true" styleClass="dark-dropdown dark-dropdown-options"
                                                (onChange)="BrandChange($event)">
                                            </p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="modelList" formControlName="model"
                                                optionValue="Id" optionLabel="ModelName" placeholder="Model Type *"
                                                [filter]="true" styleClass="dark-dropdown dark-dropdown-options">
                                            </p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="manufacturerMaster"
                                                formControlName="Manufacturer" optionValue="Id"
                                                optionLabel="ManufacturerName" placeholder="Select Manufacturer *"
                                                [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="Body_type"
                                                formControlName="Body_type" optionValue="Id" optionLabel="BodyTypeName"
                                                placeholder="Select Body Type *" [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="fuelType"
                                                formControlName="FuelTypeId" optionValue="Id" optionLabel="FuelType"
                                                placeholder="Fuel Type *" [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options">
                                            </p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="bodyStyleMaster"
                                                formControlName="Body_style" optionValue="Id"
                                                optionLabel="BodyStyleName" placeholder="Select Body Style *"
                                                [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="transmissionMaster"
                                                formControlName="Transmission" optionValue="Id"
                                                optionLabel="TransmissionName" placeholder="Select Transmission *"
                                                [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="engineMaster"
                                                formControlName="Engine_type" optionValue="Id" optionLabel="EnginType"
                                                placeholder="Select Engine Type *" [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Address" formControlName="address_line_1">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="regionMaster"
                                                formControlName="Region" optionValue="Id" optionLabel="RegionName"
                                                placeholder="Select Region" [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <p-dropdown appendTo="body" [options]="countryMaster"
                                                formControlName="Country" optionValue="Id" optionLabel="CountryName"
                                                placeholder="Select Country *" [filter]="true"
                                                styleClass="dark-dropdown dark-dropdown-options"></p-dropdown>
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            @if (!vinNumber) {
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter VIN Number" formControlName="Entered_VIN">
                                            } @else {
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter VIN Number" formControlName="Entered_VIN" value="">
                                            }
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" formControlName="VehManufYear"
                                                class="form-control customeInput2" placeholder="Enter Vehicle Year *"
                                                maxlength="4" minlength="4" pattern="[0-9]*"
                                                (keypress)="allowOnlyNumbers($event)">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Vehicle Color *" formControlName="Color">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Vehicle Driven Kms" formControlName="VehKmsDriven">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Sell Price *" formControlName="VehShellPrice">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Engine Number" formControlName="Engine_Number">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter VDS" formControlName="VDS">
                                        </div>

                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Vehical Class" formControlName="Vehicle_class">
                                        </div>

                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Vehical Type(7 seater SUV)"
                                                formControlName="Vehicle_type">
                                        </div>

                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Manufactured Country Name"
                                                formControlName="Manufactured_in">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Serial Number" formControlName="Serial_number">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Displacement CID" formControlName="Displacement_CID">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Displacement Nominal"
                                                formControlName="Displacement_Nominal">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Displacement SI" formControlName="Displacement_SI">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Vehical Driveline" formControlName="Driveline">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter WMI" formControlName="WMI">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter VIS Identifier" formControlName="VIS_identifier">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Year of Vehical Identifier"
                                                formControlName="Year_identifier">
                                        </div>
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Trim Level" formControlName="Trim_level">
                                        </div>
                                        <!-- <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Squish VIN" formControlName="Squish_VIN">
                                        </div> -->
                                        <div class="col-12 col-md-3 my-2">
                                            <input type="text" class="form-control customeInput2"
                                                placeholder="Enter Check Digit" formControlName="Check_digit">
                                        </div>
                                        <!-- <div class="col-12 col-md-3 my-2">
                                            <p-input placeholder="Enter Insurance Expiry Date" type="date" formControlName="insurance_Expiry_Date"
                                                class="form-control customeInput2" />
                                        </div> -->
                                        <div class="col-12 col-md-3">
                                            <p-calendar placeholder="Enter Insurance Expiry Date"
                                                formControlName="insurance_Expiry_Date"
                                                class="customeInput2 dark-background"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-button matStepperNext class="text-light">Next</button>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Features</ng-template>
                                <div class="col-12">
                                    <div class="d-flex flex-wrap justify-content-start align-items-center my-2">
                                        <div class="col-12 col-md-3">
                                            <p-multiSelect appendTo="body" [options]="STequipmentMaster"
                                                formControlName="Standard_equipment" optionValue="Id"
                                                optionLabel="EquipmentName" placeholder="Select Standard Equipment"
                                                [filter]="true" styleClass="dark-dropdown dark-dropdown-options">
                                            </p-multiSelect>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <p-multiSelect appendTo="body" [options]="Optional_equipment"
                                                formControlName="Optional_equipment" optionValue="Id"
                                                optionLabel="EquipmentName" placeholder="Select Optional Equipment"
                                                [filter]="true" styleClass="dark-dropdown dark-dropdown-options">
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-button matStepperPrevious class="text-light">Previous</button>
                                    <button mat-button matStepperNext class="text-light">Next</button>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Specifications</ng-template>
                                <div class="col-12">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active bg-light" id="pills-body-tab"
                                                data-toggle="pill" data-target="#pills-body" type="button" role="tab"
                                                aria-controls="pills-body" aria-selected="true">Body</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link bg-light" id="pills-engine-tab" data-toggle="pill"
                                                data-target="#pills-engine" type="button" role="tab"
                                                aria-controls="pills-engine" aria-selected="false">Engine</button>
                                        </li>
                                        <!-- <li class="nav-item" role="presentation">
                                            <button class="nav-link bg-light" id="pills-drivetrain-tab"
                                                data-toggle="pill" data-target="#pills-drivetrain" type="button"
                                                role="tab" aria-controls="pills-drivetrain"
                                                aria-selected="false">Drivetrain</button>
                                        </li> -->
                                        <!-- <li class="nav-item" role="presentation">
                                            <button class="nav-link bg-light" id="pills-brakingTraction-tab"
                                                data-toggle="pill" data-target="#pills-brakingTraction" type="button"
                                                role="tab" aria-controls="pills-brakingTraction"
                                                aria-selected="false">Braking
                                                Traction</button>
                                        </li> -->
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <!-- Body -->
                                        <div class="tab-pane fade show active" id="pills-body" role="tabpanel"
                                            aria-labelledby="pills-body-tab">
                                            <div class="col-12">
                                                <!-- <div
                                                    class="d-flex flex-wrap justify-content-between align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Length(mm)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Width(mm)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Height(mm)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Wheel Base (mm)">
                                                    </div>
                                                </div> -->
                                                <!-- <div class="d-flex flex-wrap justify-content-center align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Ground Clearance(mm)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Kerb Weight(kg)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Boot Space(litres)">
                                                    </div>

                                                </div> -->
                                                <div class="d-flex flex-wrap justify-content-start align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Seating Capacity"
                                                            formControlName="Number_of_seates">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter No of Seating Rows">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter No Of Doors"
                                                            formControlName="Number_of_doors">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- Engine -->
                                        <div class="tab-pane fade" id="pills-engine" role="tabpanel"
                                            aria-labelledby="pills-engine-tab">
                                            <div class="col-12">
                                                <!-- <div
                                                    class="d-flex flex-wrap justify-content-between align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Dispkacement(cc)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Max Power(bhp)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Max Power(rpm)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Max torque(Nm)">
                                                    </div>
                                                </div> -->
                                                <!-- <div class="d-flex flex-wrap justify-content-center align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Max torque(rpm)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Transmission type">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle No of Gears">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Dual Clutch">
                                                    </div>

                                                </div> -->
                                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                                    <!-- <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Engine Type"
                                                            formControlName="Engine_type">
                                                    </div> -->
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Cylinders"
                                                            formControlName="Engine_cylinders">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Valves per Cylinder"
                                                            formControlName="Engine_valves">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Automatic Gear Box"
                                                            formControlName="automaticGearBox">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Aspritation"
                                                            formControlName="Engine_aspiration">
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-wrap justify-content-start align-items-center">

                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter kilo Watts"
                                                            formControlName="Engine_KiloWatts">
                                                    </div>
                                                    <!-- <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Sport mode">
                                                    </div> -->
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehical HoursePower"
                                                            formControlName="Engine_HorsePower">
                                                    </div>
                                                </div>
                                                <!-- <div class="d-flex flex-wrap justify-content-start align-items-center">

                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehical Drivetrain">
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!-- Drivetrain -->
                                        <div class="tab-pane fade" id="pills-drivetrain" role="tabpanel"
                                            aria-labelledby="pills-drivetrain-tab">
                                            <div class="col-12">
                                                <div
                                                    class="d-flex flex-wrap justify-content-between align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Suspension front">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Suspension rear">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Brake type front">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Brake type rear">
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-wrap justify-content-center align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Steering type">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Wheels">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Spare Wheel">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Tyres front">
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-wrap justify-content-start align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Tyres rear">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Braking Traction -->
                                        <div class="tab-pane fade" id="pills-brakingTraction" role="tabpanel"
                                            aria-labelledby="pills-brakingTraction-tab">
                                            <div class="col-12">
                                                <div
                                                    class="d-flex flex-wrap justify-content-between align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Anti lock Braking system">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Brake Assist(BA)">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Hill Hold Control">
                                                    </div>
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Hill Descent control">
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-wrap justify-content-start align-items-center">
                                                    <div class="col-12 col-md-3 my-2">
                                                        <input type="text" class="form-control customeInput2"
                                                            placeholder="Enter Vehicle Differential Lock">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-0 p-0 ">
                                    <button class="btn btn-secondary mr-2" matStepperPrevious>Previous</button>
                                    @if ((canEditCar == true && vehicalId) || (canAddCar && !vehicalId)) {
                                    <button class="btn btn-secondary mr-2" (click)="resetForm()">Reset</button>
                                    <button class="btn btn-danger mr-2" (click)="addCar()">Submit</button>
                                    }
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}