<nav id="navbarResponsive" class="sidebar sidebar-offcanvas" [ngClass]="{'active': isSidebarActive}">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo text-light" [routerLink]="['/dealer_dashboard']">
            <h3 style="padding-top: 15px;">AFRICA AUTO CONNECT</h3>
        </a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="{{delerDetailById[0]?.url}}" alt="Dealer Image"
                            style="object-fit: cover;">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal text-light">{{loggedUserName}}</h5>
                        <span>Importer Admin</span>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="fa-solid fa-chart-bar"></i>
                </span>
                <span class="menu-title mr-4">Dashboard</span>
                <i class="fa-solid fa-angle-down ml-5"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" [routerLink]="['/dealer_dashboard']" style="cursor: pointer;"> <a
                            class="nav-link" [routerLinkActive]="'active'">Dashboard</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/active_car_list']" style="cursor: pointer;"> <a class="nav-link" [routerLinkActive]="'active'">Active Car
                            List</a></li>
                </ul>
            </div>
        </li>

        <!-- <li class="nav-item menu-items" [routerLink]="['/dealer_dashboard']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-chart-bar"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li> -->
        <li class="nav-item menu-items" [routerLink]="['/car_inventory']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-car-rear"></i>
                </span>
                <span class="menu-title">Car Inventory</span>
            </a>
        </li>
        <li class="nav-item menu-items" [routerLink]="['/car_inquiry']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-regular fa-circle-question"></i>
                </span>
                <span class="menu-title">Car Inquiry</span>
            </a>
        </li>
        <li class="nav-item menu-items" [routerLink]="['/subscription_history']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-sack-dollar"></i>
                </span>
                <span class="menu-title">Subscription History</span>
            </a>
        </li>
    </ul>
</nav>