@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
<div class="container-scroller">

    <app-menu></app-menu>


    <div class="page-body-wrapper">

        <app-nav></app-nav>
        <div class="main-panel">
            <div class="content-wrapper">


                <div class="row d-block">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <div>
                            <h2 class="text-light">Customer List</h2>
                        </div>
                        @if(showErrorMessage === true){} @else {
                        <div class="col-12 col-md-4">
                            <div class="input-group mb-3 col-12" style="padding-right: 86px;">
                                <input type="text" class="form-control customeInput2"
                                    placeholder="Search Customer By Mobile Number" aria-label="Search"
                                    aria-describedby="button-addon2" maxlength="10" (change)="dealerSearch($event)">
                                <div class="input-group-append">
                                    <button class="btn btn-danger rounded-right" type="button" id="button-addon2"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>

                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-dark" matSort>

                        <ng-container matColumnDef="FirstName">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Name</th>
                            <td mat-cell *matCellDef="let item" class="text-light">{{ item.DisplayName || 'N/A' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Phone</th>
                            <td mat-cell *matCellDef="let item" class="text-light">{{item.CountryCode }} {{ item.PhoneNumber || 'N/A' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Email</th>
                            <td mat-cell *matCellDef="let item" class="text-light">{{ item.EmailId || 'N/A' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Address</th>
                            <td mat-cell *matCellDef="let item" class="text-light">{{ item.Address || 'N/A' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Status</th>
                            <td mat-cell *matCellDef="let item" class="text-light">
                                @if(item.IsActive === true) {
                                <p class="text-success font-weight-bold my-0">
                                    Active
                                </p>
                                } @else {
                                <p class="text-danger my-0">InActive</p>
                                }
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="accountCreationDate">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Account Creation Date</th>
                            <td mat-cell *matCellDef="let item" class="text-light">{{ dateConvert(item.StartDate) ||
                                'N/A' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-light">Action</th>
                            <td mat-cell *matCellDef="let item" class="text-light"><button class="btn btn-danger"
                                    type="button" (click)="CarDelerDetail(item.Id)">Details</button></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    @if(showErrorMessage === true){
                        <div style="display: flex; flex-basis: 100%; justify-content: center; align-items: center; height: 60vh;">
                            <h2 class="text-danger text-center">There is no Customer in the list.</h2>
                        </div>
                    }
                    @if(allDelerData && allDelerData.length > 0){
                    <div class="content-section implementation " style="color: aqua;">
                        <p-paginator [rows]="10" (onPageChange)="paginate($event)" [totalRecords]="totalCount"
                            [rowsPerPageOptions]="[10,20,30]" class="dark-pagination"
                            [first]="currentPage"></p-paginator>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}