@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
@for (item of delerDetailById; track $index) {
<div class="row">

    <!-- Chnage Subscription Modal -->
    <div class="modal fade" #changeSubscriptionModal id="addSubscriptionModel" tabindex="-1" role="dialog"
        aria-labelledby="addSubscriptionModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSubscriptionModelLabel">Change Subscription Plan
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #FFF;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="forms-sample" [formGroup]="changeSubscription">
                    <div class="modal-body">
                        <mat-form-field class="col-12">
                            <mat-label>Model Type</mat-label>
                            <mat-select formControlName="subscriptionId">
                                <mat-option *ngFor="let plan of subscriptionGetAllPlan" (onSelectionChange)="planChange()" [value]="plan.Id">{{
                                    plan.SubscriptionName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" (click)="changeSubscriptionPlan()"
                            data-dismiss="modal" [disabled]="changeSubscriptionToggle === false">Change
                            Subscription</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4 grid-margin stretch-card">
        <div class="card bg-dark">
            <div class="card-body d-flex flex-wrap flex-column justify-content-center align-items-center">
                <img class="rounded-circle" src="{{item.url}}" alt="Dealer Image" width="200px" height="200px"
                    style="object-fit: cover;" />
                <h2 class="text-light mt-2" style="text-transform: capitalize;">
                    {{item.BussinessName}}</h2>
                <button class="btn btn-danger" *ngIf="canUpdate" type="button" (click)="addDeler()">Edit</button>
                <button class="btn btn-danger mt-3" *ngIf="canUpdate" type="button" data-toggle="modal"
                    data-target="#addSubscriptionModel" (click)="getSubscriptionData()">Change Subscription</button>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card bg-dark">
            <div class="card-body">
                <table class="table table-striped table-dark text-light">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td style="text-transform: capitalize;"> {{item.FirstName || 'N/A'}} {{item.LastName}} </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{item.EmailId || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{item.CountryCode}} {{item.PhoneNumber || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>WhatsApp Number</td>
                            <td>{{item.WhatsAppNumber || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{item.Address || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Company Name</td>
                            <td>{{item.BussinessName || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Licence Number</td>
                            <td>{{item.BusLicNumber || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>IFU Number</td>
                            <td>{{item.IFUNumber || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Subscription Plan Detail</td>
                            <td>{{item.SubscriptionName || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Subscription Plan Days</td>
                            <td>{{item.SubscribDays || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Remaining Days of Subscription Plan</td>
                            <td>{{item.Remaining_Days_Of_Subscription || 'N/A'}}</td>
                        </tr>
                        <tr>
                            <td>Subscription Plan Status</td>
                            <td>
                                @if(item.URSA_IsActive === true) {
                                <p class="text-success font-weight-bold my-0">Active</p>
                                } @else {
                                <p class="text-danger font-weight-bold my-0">InActive
                                </p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>User Status</td>
                            <td>
                                @if(item.IsActive === true) {
                                <p class="text-success font-weight-bold my-0">Active</p>
                                } @else {
                                <p class="text-danger font-weight-bold my-0">InActive
                                </p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Subscription Plan Start Date</td>
                            <td>{{dateConvert(item.StartDate)}}</td>
                        </tr>
                        <tr>
                            <td>Subscription Plan End Date</td>
                            <td>{{dateConvert(item.EndDate)}}</td>
                        </tr>
                        <tr *ngIf="canUpdate">
                            <td>Manage Account Status</td>
                            <td><mat-slide-toggle class="custom-slide-toggle" [(ngModel)]="DealerActive"
                                    [aria-label]="isSubscribedToEmailsMessage" (change)="onToggleChange(item)">
                                </mat-slide-toggle></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
}