<nav id="navbarResponsive" class="sidebar sidebar-offcanvas" [ngClass]="{'active': isSidebarActive}">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <!-- <img src="../../../../assets/images/favicon.png" alt="" height="100%" width="100%" style="object-fit: cover;"> -->
        <a class="sidebar-brand brand-logo text-light" [routerLink]="['/dashboard']">
            <h3 style="padding-top: 15px;">AFRICA AUTO CONNECT</h3>
        </a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg"
                alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle" src="{{FullUrlForUserImageShow}}" alt="Profile Photo"
                            style="object-fit: cover;">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal text-light">{{loggedUserName}}</h5>
                        <span>{{AdminRole}}</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li *ngIf="canViewDashBord" class="nav-item menu-items" [routerLink]="['/dashboard']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-chart-bar"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li> -->
        <li *ngIf="canViewDashBord" class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-icon">
                    <i class="fa-solid fa-chart-bar"></i>
                </span>
                <span class="menu-title mr-4">Dashboard</span>
                <i class="fa-solid fa-angle-down ml-5"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" [routerLink]="['/dashboard']" style="cursor: pointer;"> <a class="nav-link"
                            [routerLinkActive]="'active'">Dashboard</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/active_all_car_list']" style="cursor: pointer;"> <a
                            class="nav-link" [routerLinkActive]="'active'">Active Car
                            List</a></li>
                </ul>
            </div>
        </li>
        <li *ngIf="canViewDealer" class="nav-item menu-items" [routerLink]="['/deler']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-user-tie"></i>
                </span>
                <span class="menu-title">Importers</span>
            </a>
        </li>
        <li *ngIf="canViewCustomers" class="nav-item menu-items" [routerLink]="['/customer_detail']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'" style="cursor: pointer;">
                <span class="menu-icon">
                    <i class="fa-solid fa-user"></i>
                </span>
                <span class="menu-title">Customers</span>
            </a>
        </li>
        <li *ngIf="canViewSubscription" class="nav-item menu-items" [routerLink]="['/subscription']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-sack-dollar"></i>
                </span>
                <span class="menu-title">Subscription</span>
            </a>
        </li>
        <li *ngIf="canViewPolicy" class="nav-item menu-items" [routerLink]="['/privacy_policy']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-shield-halved"></i>
                </span>
                <span class="menu-title">Policy pages</span>
            </a>
        </li>
        <li *ngIf="canViewAdminInfoRole" class="nav-item menu-items" [routerLink]="['/admin_info']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-regular fa-circle-question"></i>
                </span>
                <span class="menu-title">Admin Info</span>
            </a>
        </li>
        <li *ngIf="canViewMobileHomes" class="nav-item menu-items" [routerLink]="['/addAds']" style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-headset"></i>
                </span>
                <span class="menu-title">Mobile Home</span>
            </a>
        </li>
        @if(ocrTrueFalse === true){
        <li *ngIf="canViewOCRRole" class="nav-item menu-items" [routerLink]="['/ocr_list']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-brands fa-digital-ocean"></i>
                </span>
                <span class="menu-title">OCR</span>
            </a>
        </li>
        }




        <li *ngIf="canViewUserManagement" class="nav-item menu-items" [routerLink]="['/user_management']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-user-shield"></i>
                </span>
                <span class="menu-title">User Management</span>
            </a>
        </li>
        <li *ngIf="canViewUserRole" class="nav-item menu-items" [routerLink]="['/user_permission']"
            style="cursor: pointer;">
            <a class="nav-link" [routerLinkActive]="'active'">
                <span class="menu-icon">
                    <i class="fa-solid fa-user-gear"></i>
                </span>
                <span class="menu-title">User Role</span>
            </a>
        </li>
    </ul>
</nav>