$color_1: #222;
$color_2: #465b52;
$color_3: #fff;
$color_4: #1a1a1a;
$color_5: #088178;
$color_6: white;
$color_7: #606063;
$color_8: rgb(243, 181, 25);
$color_9: #818ea0;
$color_10: #ffbd27;
$color_11: inherit;
$font-family_1: "Spartan", san-serif;
$font-family_2: inherit;
$background-color_1: #e3e6f3;
$background-color_2: red;
$background-color_3: #088178;
$background-color_4: transparent;
$background-color_5: #fddde4;
$background-color_6: #cdebbc;
$background-color_7: #d1e8f2;
$background-color_8: #cdd4f8;
$background-color_9: #f6dbf6;
$background-color_10: #fff2e5;
$background-color_11: #4CAF50;
$background-color_12: #e8f6ea;
$background-color_13: #041e42;
$background-color_14: #45a049;

@import "https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap";
@keyframes whatsappAnimation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
/* Apply the animation to the button */
@keyframes fadeInRotate {
	50% {
		opacity: 0;
		transform: rotate(0deg);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(360deg);
	}
}
/* Add some styling to make it visible */
/* #hero h2 {
} */
/* #banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://i.postimg.cc/SsC7D5WD/b2.jpg);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
} */
/* #banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
} */
/* button.normal {
  color: #000;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
} */
/* #banner button:hover {
  background-color: #088178;
  color: #fff;
} */
/* #sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url(https://i.postimg.cc/vZ6YLxDG/b17.jpg);
  min-width: 580px;
  height: 40vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
} */
/* #sm-banner .banner-box2 {
  background-image: url(https://i.postimg.cc/gJ7FHxHv/b10.jpg);
} */
/* #sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}

#sm-banner span {
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 16px;
} */
/* button.white {
  color: #000;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  color: #fff;
  border: 1px solid #088178;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url(https://i.postimg.cc/BQQHKtwh/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
  margin-bottom: 20px;
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#banner3 .banner-img2 {
  background-image: url(https://i.postimg.cc/SxP6qqdg/b4.jpg);
}

#banner3 .banner-img3 {
  background-image: url(https://i.postimg.cc/m2th49nG/b18.jpg);
} */
/* #newsletter input {
  height: 3.125rem;
  width: 100%;
  font-size: 14px;
  padding: 0 1.25em;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */
/* #newsletter button {
  display: flex;
  padding: 15px 22px;
  height: 3.125rem;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
} */
/* footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
} */
/* footer .install img {
  margin: 10px 0 15px 0;
} */
/*----------------------Media Query ----------*/
/* Copyright text style */
html {
	scroll-behavior: smooth;
}
.wpbtn {
	width: 50px;
	transition: transform 0.5s ease-in-out;
	align-self: flex-end;
	&:hover {
		transform: scale(1.1);
	}
}
.fab-btn {
	width: 50px;
	opacity: 0;
	animation: fadeInRotate 2s infinite linear;
}
.fixed-float {
	position: fixed;
	bottom: 100px;
	right: 70px;
	z-index: 1000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
h1 {
	font-size: 50px;
	line-height: 64px;
	color: $color_1;
}
h2 {
	font-size: 46px;
	line-height: 54px;
	color: $color_1;
}
h4 {
	font-size: 20px;
	color: $color_1;
}
h6 {
	font-size: 12px;
	font-weight: 700;
}
p {
	font-size: 16px;
	color: $color_2;
	margin: 15px 0 20px 0;
}
.section-p1 {
	padding: 40px 80px;
}
.section-m1 {
	padding: 40px 0;
}
body {
	width: 100%;
	font-family: $font-family_2;
}
#header {
	position: fixed;
	width: 100%;
	height: 5cm;
	overflow: hidden;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background-color: $background-color_1;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		list-style: none;
		padding: 0 20px;
		position: relative;
		a {
			text-decoration: none;
			font-size: 16px;
			font-weight: 600;
			color: $color_4;
			transition: 0.3s ease;
			&:hover {
				color: $color_5;
				&::after {
					content: " ";
					width: 30%;
					height: 2px;
					background: 2px;
					background-color: $background-color_3;
					position: absolute;
					bottom: -4px;
					left: 20px;
				}
			}
		}
		a.active {
			color: $color_5;
			&::after {
				content: " ";
				width: 30%;
				height: 2px;
				background: 2px;
				background-color: $background-color_3;
				position: absolute;
				bottom: -4px;
				left: 20px;
			}
		}
	}
}
.quantity {
	background-color: $background-color_2;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color_3;
	position: absolute;
	top: -5px;
	left: 80%;
	padding: 3px 5px;
	font-size: 7px;
}
#mobile {
	display: none;
	align-items: center;
}
#close {
	display: none;
}
#hero {
	background-image: url("https://i.postimg.cc/cCwBHzDV/hero4.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	line-height: 1;
	h1 {
		color: $color_5;
	}
	h4 {
		padding-bottom: 15px;
	}
	button {
		background-image: url(https://i.postimg.cc/528H2mmS/button.png);
		background-color: $background-color_4;
		color: $color_5;
		border: 0;
		padding: 14px 80px 14px 65px;
	}
}
#feature {
	.fe-box {
		width: 180px;
		text-align: center;
		padding: 25px 15px;
		box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
		border: 1px solid #cce7d0;
		border-radius: 4px;
		margin: 15px 0;
		&:hover {
			box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
		}
		h6 {
			display: in-block;
			padding: 9px 8px 6px 8px;
			line-height: 1;
			border-radius: 4px;
			color: $color_5;
			background-color: $background-color_5;
		}
		img {
			width: 100%;
			margin-bottom: 10px;
		}
		&:nth-child(2) {
			h6 {
				background-color: $background-color_6;
			}
		}
		&:nth-child(3) {
			h6 {
				background-color: $background-color_7;
			}
		}
		&:nth-child(4) {
			h6 {
				background-color: $background-color_8;
			}
		}
		&:nth-child(5) {
			h6 {
				background-color: $background-color_9;
			}
		}
		&:nth-child(6) {
			h6 {
				background-color: $background-color_10;
			}
		}
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
#product1 {
	text-align: center;
	.pro-container {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		flex-wrap: wrap;
	}
	.pro {
		width: 23%;
		min-width: 250px;
		padding: 10px 12px;
		border: 1px solid #cce7d0;
		border-radius: 25px;
		cursor: pointer;
		box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
		margin: 15px 0;
		transition: 0.2s ease;
		position: relative;
		img {
			width: 100%;
			border-radius: 20px;
		}
		.des {
			text-align: start;
			padding: 10px 0;
			span {
				color: $color_7;
				font-size: 12px;
			}
			h5 {
				padding-top: 7px;
				color: $color_4;
				font-size: 14px;
			}
			i {
				font-size: 12px;
				color: $color_8;
			}
			h4 {
				font-size: 15px;
				padding-top: 7px;
				font-weight: 700;
				color: $color_5;
			}
		}
		.cart {
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 50px;
			background-color: $background-color_12;
			font-weight: 500;
			color: $color_5;
			border: 1px solid #cce7d0;
			position: absolute;
			bottom: 20px;
			right: 10px;
		}
	}
}
#product {
	.pro {
		&:hover {
			box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
		}
	}
}
.des {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	align-items: center;
}
.addbtn {
	background-color: $background-color_11;
	border: none;
	color: $color_6;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s ease;
}
#newsletter {
	// display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-image: url(https://i.postimg.cc/R0Bs4qqt/b14.png);
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: $background-color_13;
	h4 {
		color: $color_3;
		font-weight: 700;
		font-size: 22px;
	}
	p {
		color: $color_9;
		font-weight: 600;
		font-size: 14px;
		span {
			color: $color_10;
		}
	}
	.form {
		display: flex;
	}
}
.btn {
	a {
		text-decoration: none;
		color: $color_11;
	}
	&:hover {
		background-color: $background-color_14;
	}
}
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	.col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 20px;
		margin-left: 50px;
	}
	.sec {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.logo {
		margin-bottom: 20px;
	}
	h4 {
		font-size: 14px;
		padding-bottom: 20px;
	}
	p {
		font-size: 13px;
		margin: 0 0 8px 0;
	}
	a {
		font-size: 13px;
		text-decoration: none;
		color: $color_1;
		margin-bottom: 10px;
		&:hover {
			color: $color_5;
		}
	}
	.follow {
		margin-top: 20px;
		i {
			color: $color_2;
			padding-right: 5px;
			cursor: pointer;
			&:hover {
				color: $color_5;
			}
		}
	}
}
.copyright {
	margin: 0 auto;
	background-color: $background-color_1;
	color: $color_6;
	padding: 5px;
	p {
		text-align: center;
		font-size: 13px;
	}
}
@media (max-width: 920px) {
	.section-p1 {
		padding: 40px 40px;
	}
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: $background-color_1;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;
		transition: 0.3s;
		li {
			margin-bottom: 25px;
		}
	}
	#navbar.active {
		right: 0;
	}
	#mobile {
		display: flex;
		align-items: center;
		i {
			font-size: 32px;
			color: $color_4;
			padding-left: 20px;
		}
	}
	body {
		#lg-bag {
			display: none;
		}
	}
	#close {
		display: initial;
		position: absolute;
		top: -280px;
		left: 20px;
		color: $color_1;
		font-size: 32px;
	}
	#lg-bag {
		display: none;
	}
	.quantity {
		top: 15px;
		left: 83%;
	}
	#hero {
		height: 70vh;
		padding: 0 80px;
		background-position: top 30% right 30%;
	}
	#feature {
		justify-content: center;
		.fe-box {
			margin: 15px 15px;
		}
	}
	#product1 {
		.pro-container {
			justify-content: center;
		}
		.pro {
			margin: 15px;
		}
	}
	#banner {
		height: 25vh;
	}
	#sm-banner {
		.banner-box {
			min-width: 100%;
			height: 30vh;
		}
	}
	#banner3 {
		padding: 0 40px;
		.banner-box {
			width: 28%;
		}
	}
	#newsletter {
		.form {
			width: 70%;
		}
	}
}
@media (max-width: 477px) {
	.section-p1 {
		padding: 20px;
	}
	#header {
		padding: 10px 30px;
	}
	.quantity {
		top: 7px;
		left: 80%;
	}
	#hero {
		padding: 0 20px;
		background-position: 55%;
		button {
			margin-right: 10px;
		}
	}
	h2 {
		font-size: 30px;
	}
	h1 {
		font-size: 28px;
	}
	p {
		line-height: 24px;
		font-size: 10px;
	}
	#feature {
		justify-content: space-between;
		.fe-box {
			width: 155px;
			margin: 0 0 15px 0;
		}
	}
	#product1 {
		.pro {
			width: 100%;
		}
	}
	#banner {
		height: 40vh;
	}
	#sm-banner {
		.banner-box {
			height: 40vh;
		}
		.banner-box2 {
			margin-top: 20px;
		}
	}
	#banner3 {
		padding: 0 20px;
		.banner-box {
			width: 100%;
		}
	}
	#newsletter {
		.form {
			width: 100%;
		}
		padding: 40px 20px;
	}
	.center-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.copyright {
		text-align: center;
	}
}
