<section id="header">
  <a style="display: inline-block;" href="#"><img src="../../../assets/images/comfrt_gudi (2).png" width="50"></a>
</section>
<section id="hero">
  <h2>Shress Hari Enterprise</h2>
  <h1>On all Products</h1>
  <!-- <button>Shop Now</button> -->
</section>
<div class="fixed-float">
  <a target="_blank" href="https://wa.me/9913043130">
    <img class="fab-btn" src="../../../assets/images/whatsapp.png" style="width: 50px" />
  </a>
</div>
<section id="product1" class="section-p1">
  <h2>Dream Products</h2>
  <p>Best Collection New Modern Design</p>
  <div class="pro-container">

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.27 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Carton Leave Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
      
    </div>
    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.27 PM (2).jpeg" alt="">
      <div class="des">
        <h5>Carton Leave Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
      
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.27 PM.jpeg" alt="">
      <div class="des">
        <h5>Rose Multicolor Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.28 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Pink Flower Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>
    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.29 PM (1).jpeg " alt="">
      <div class="des">
        <h5>Purple Flowering Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.29 PM.jpeg" alt="">
      <div class="des">
        <h5>Short Knicker </h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.30 PM (1).jpeg" alt="">
      <div class="des">
        <h5>2 in 1 Double Routed</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.30 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>
    
  </div>
  <div class="pro-container">
    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.31 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Carton Astronault Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.31 PM.jpeg" alt="">
      <div class="des">
        <h5>Carton Leave Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.32 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Rose Multicolor Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.34 PM.jpeg" alt="">
      <div class="des">
        <h5>Pink Flower Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.32 PM.jpeg" alt="">
      <div class="des">
        <h5>Purple Flowering Tshirts</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.33 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Short Knicker </h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.33 PM.jpeg" alt="">
      <div class="des">
        <h5>2 in 1 Double Routed</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.34 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.35 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.35 PM (2).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.35 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.36 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.37 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.37 PM (2).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.37 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.38 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.38 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.39 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.39 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.40 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.40 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.41 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.41 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.42 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.42 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.43 PM (1).jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.43 PM.jpeg" alt="">
      <div class="des">
        <h5>Ash Short</h5>
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.44 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.44 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.45 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.45 PM (2).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.45 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.46 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.46 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.47 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.47 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.48 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.48 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.49 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>
    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.49 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.50 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.53 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>
    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.54 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.54 PM (2).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

   

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.54 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.55 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.55 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.56 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.56 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.57 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.57 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.58 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.58 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.59 PM (1).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.59 PM (2).jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>

    <div class="pro">
      <img src="../../../assets/images/WhatsApp Image 2024-05-26 at 7.46.59 PM.jpeg" alt="">
      <div class="des">
        <!-- <span>adidas</span> -->
        <!-- <button id="addButton" class="addbtn">More Details</button> -->

        <h5>Ash Short</h5>
        <!-- <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div> -->
        <!-- <h4>$78</h4> -->
      </div>
      <div style="display: flex; justify-content: space-around;">
        <a target="_blank" href="tel:9723778227">
            <img class="wpbtn" src="../../../assets/images/outgoing-call.png" style="width: 50px;">
        </a>
        <a target="_blank" href="https://wa.me/9723778227">
            <img class="wpbtn" src="../../../assets/images/whatsapp.png" style="width: 50px;">
        </a>
    </div>
    </div>
    
  </div>
</section>

<!-- <section id="sm-banner" class="section-p1"> -->
<!-- <div class="banner-box">
    <h4>crazy deals</h4>
    <h2>buy 1 get 1 free</h2>
    <span>The best classic dress is on sales at cara</span>
    <button class="btn white">Learn More</button>

  </div> -->

<!-- <div class="banner-box banner-box2">
    <h4>spring/summer</h4>
    <h2>upcoming season</h2>
    <span>The best classic dress is on sales at cara</span>
    <button class="btn white">Collection</button>

  </div> -->
<!-- 
</section> -->
<!-- 
<section id="banner3" class="section-p1">
  <div class="banner-box">

    <h2>SEASONAL SALES</h2>
    <h3>Winter Collection -50% OFF</h3>

  </div>

  <div class="banner-box banner-img2">

    <h2>SEASONAL SALES</h2>
    <h3>Winter Collection -50% OFF</h3>

  </div>

  <div class="banner-box banner-img3">

    <h2>SEASONAL SALES</h2>
    <h3>Winter Collection -50% OFF</h3>

  </div>

</section> -->

<!-- https://api.whatsapp.com/send?phone=919723778227 -->

<!-- <section id="newsletter" class="section-p1">
  <div class="newstext">
    <h4>Sign Up for Newsletters</h4>
    <p>Get whatsapp updates about our latest shop and <span> special offers.</span> </p>
  </div>
</section> -->
  <section id="newsletter" class="section-p1">
    <div class="row">
      <div class=" col-11">
        <h4>Sign Up for Newsletters</h4>
        <p>
          Get whatsapp updates about our latest shop and
          <span> special offers.</span>
        </p>
      </div>
      <div class="col-1">
          <button id="addButton" class="addbtn bg-light text-dark" (click)="loginPage()">LOGIN</button>
      </div>
    </div>
    <div class="form"></div>
  </section>
  <!-- <div class="form"> -->
    <!-- <input type="text" placeholder="Your whatsapp number"> -->
    <!-- <button class="btn normal"><a href="https://api.whatsapp.com/send?phone=919723778227" target="_blank">Whatsapp</a></button> -->

  <!-- </div> -->

  <!-- </div> -->



<footer class="section-p1">

  <div class="col">
    <a href="#"><img class="logo" src="../../../assets/images/comfrt_gudi (2).png" style="width: 80px;"></a>
    <h4>Contact</h4>
    
      <strong>Address:</strong>
        <p> 101, Avlon The Business Hub, ambatalavdi, Katargam, Surat</p>
    <p><strong>Phone:</strong>+91 9723778227, +91 1234567890</p>
    <!-- <div style="display: flex; justify-content: space-around;"> -->
      <a target="_blank" href="tel:9723778227">
          <img class="wpbtn" src="../../../assets/images/google-maps.png" style="width: 40px;">
      </a>
    <!-- </div> -->
    <!-- <p><strong>Hours:</strong>10.00 - 18.00, Mon - Sat</p> -->
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
      </div>
    </div>
  </div>
</footer>


<div class="copyright">
  <p>© 2023 All rights reserved! Shree Hari Enterprise</p>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
