<section id="hero">
  <h2>Shress Hari Enterprise</h2>
  <h1>On all Products</h1>
  <button>Shop Now</button>
</section>
<div class="fixed-float">
  <a target="_blank" href="https://wa.me/9913043130">
    <img class="fab-btn" src="/src/mainIcon/whatsapp.png" style="width: 50px" />
  </a>
</div>
<section id="product1" class="section-p1">
  <h2>Dream Products</h2>
  <p>Best Collection New Modern Design</p>
  <div class="pro-container">
    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/kg9YYbTn/f1.jpg" alt="" />
      <div class="des">
        <!-- <h5>Carton Astronaut T-shirts</h5>  -->
      </div>
      <div style="display: flex; justify-content: space-around">
        <img
          class="wpbtn"
          src="/src/mainIcon/phone-call.png"
          style="width: 50px"
        />
        <img
          class="wpbtn"
          src="/src/mainIcon/whatsapp.png"
          style="width: 50px"
        />
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/2yhT2kvb/f2.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Carton Leave Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/VL9DtNm2/f3.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Rose Multicolor Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/vZ3hPS1z/f4.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>

        <h5>Pink Flower Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/q7FLrhx6/f5.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Purple Flowering Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/L86BZByZ/f7.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>

        <h5>Short Knicker</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/zDxJ2f0H/f6.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>

        <h5>2 in 1 Double Routed</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/x8qcBrpP/n6.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Ash Short</h5>
      </div>
    </div>
    s
  </div>
  <div class="pro-container">
    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/hG1hqqK6/n1.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Carton Astronault Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/BZkSkvxt/n2.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>

        <h5>Carton Leave Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/KYjcC3sk/n3.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Rose Multicolor Tshirts</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/vHvQBtJx/n4.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>

        <h5>Pink Flower Tshirts</h5>
      </div>
      <a href=""><i class="fal fa-shopping-cart cart"></i></a>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/908J8S4q/n5.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Purple Flowering Tshirts</h5>
      </div>
    </div>
    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/X7r8NsGQ/n7.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>Short Knicker</h5>
      </div>
    </div>
    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/JhrH0hYM/n8.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>
        <h5>2 in 1 Double Routed</h5>
      </div>
    </div>

    <div class="pro" onclick="window.location.href='contact.html'">
      <img src="https://i.postimg.cc/2Sq4mytJ/f8.jpg" alt="" />
      <div class="des">
        <button id="addButton" class="addbtn">More Details</button>

        <h5>Ash Short</h5>
      </div>
    </div>
  </div>
</section>

<section id="newsletter" class="section-p1">
  <div class="row">
    <div class=" col-11">
      <h4>Sign Up for Newsletters</h4>
      <p>
        Get whatsapp updates about our latest shop and
        <span> special offers.</span>
      </p>
    </div>
    <div class="col-1">
        <button id="addButton" class="addbtn bg-light text-dark" (click)="loginPage()">LOGIN</button>
    </div>
  </div>
  <div class="form"></div>
</section>
<footer class="section-p1">
  <div class="col">
    <a href="#"
      ><img class="logo" src="https://i.postimg.cc/x8ncvFjr/logo.png"
    /></a>
    <h4>Contact</h4>
    <!-- <p><strong>Address:<strong>101, Avlon The Business Hub, ambatalavdi, Katargam, Surat</p> -->
    <p><strong>Phone:</strong>+91 9913043130, +91 1234567890</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <p>© 2023 All rights reserved! Shree Hari Enterprise</p>
</div>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
