<div class="formWrap">
    <div class="mat-dialog-title">Customer Details</div>
    <mat-dialog-content>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>First Name:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.firstName}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Last Name:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.lastName}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Mobile:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.mobile}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Alt.Number:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.contactNo}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Email ID:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.emailId}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Country:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.country}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>State:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.state}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>City:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.city}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Area:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.area}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Society:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.landMark}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Block/Tower:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.blockTower}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>House No:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.houseNo}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Floor:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.streetLocality}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Landmark:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.landMark}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Pin Code:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.pinCode}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Control Room:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.locality}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Zone:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.localityGroup}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>RZone:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.rZoneName}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Type Of Customer:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.homeCategory}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Account Creation Date:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.accountCreationDate != null ?
                        this.service.Moment(clientMaster.accountCreationDate).format("MM-DD-YYYY") : ''}}

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Installation Date:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.installationDate != null ?
                        this.service.Moment(clientMaster.installationDate).format("MM-DD-YYYY") : ''}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Installed By:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.companyName}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Gas Status:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientAddressDetail.plan}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Customer ID:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.customerId}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>CA No:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.caNo}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Meter Type:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.meterType}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Meter No:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.meterNo}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>RFC Reading:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.rfcReading}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Regulator No.:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.regulatorno}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Meter Make:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.meterMake}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Gas Start Date:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.gasStartDate != null ?
                        this.service.Moment(clientMaster.gasStartDate).format("MM-DD-YYYY") : ''}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>JMR Card No:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.jmrNo}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>JMR Reading:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.initialReading}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <strong>Burner Details:</strong>
                    </div>
                    <div class="col-md-8">
                        {{clientMaster.burnerDetails}}
                    </div>
                </div>
            </div>
        </div>

    </mat-dialog-content>
</div>
<mat-dialog-actions>
    <div class="btnWrap">
        <button mat-stroked-button color="secondary" (click)="cancel()">Cancel</button>
    </div>
</mat-dialog-actions>