<div>
    <div class="mat-dialog-title" >Change Password</div>
    <mat-dialog-content >
        <form *ngIf="ChangePasswordForm" [formGroup]="ChangePasswordForm" class="formWrap">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Old Password<span class="mandatoryField">*</span></label>
                        <input  type="password" formControlName="OldPassword" class="form-control" required 
                        [ngClass]="{ 'is-invalid  ng-dirty': ChangePasswordForm.controls.OldPassword.touched && ChangePasswordForm.controls.OldPassword.errors }" [required]="true">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group"></div> 
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>New Password<span class="mandatoryField">*</span></label>
                        <input  type="password" formControlName="NewPassword" class="form-control" required 
                        [ngClass]="{ 'is-invalid  ng-dirty': ChangePasswordForm.controls.NewPassword.touched && ChangePasswordForm.controls.NewPassword.errors }" [required]="true">
                    </div> 
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Confirm Password<span class="mandatoryField">*</span></label>
                        <input type="password" formControlName="ConfirmPassword" class="form-control" required 
                        [ngClass]="{ 'is-invalid  ng-dirty': ChangePasswordForm.controls.ConfirmPassword.touched && ChangePasswordForm.controls.ConfirmPassword.errors }" [required]="true">
                    </div>
                </div>
                
            </div>
        </form>
    </mat-dialog-content>
</div>
<mat-dialog-actions>
    <div>
        <button mat-stroked-button color="secondary" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" (click)="changePasswordSubmit()">Submit</button>
    </div>
</mat-dialog-actions>