.media-container {
    position: relative;
    margin-right: 10px;
}

.delete-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}

.media-container:hover img, .media-container:hover video {
    opacity: 0.5;
}

.media-container:hover .delete-btn {
    display: block;
}