@if(isLoading) {
<div class="loader">
    <svg class="car" width="102" height="40" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(2 1)" stroke="#FC424A" fill="none" fill-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round">
            <path class="car__body"
                d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                stroke-width="3" />
            <ellipse class="car__wheel--left" stroke-width="3.2" fill="#FFF" cx="83.493" cy="30.25" rx="6.922"
                ry="6.808" />
            <ellipse class="car__wheel--right" stroke-width="3.2" fill="#FFF" cx="46.511" cy="30.25" rx="6.922"
                ry="6.808" />
            <path class="car__line car__line--top" d="M22.5 16.5H2.475" stroke-width="3" />
            <path class="car__line car__line--middle" d="M20.5 23.5H.4755" stroke-width="3" />
            <path class="car__line car__line--bottom" d="M25.5 9.5h-19" stroke-width="3" />
        </g>
    </svg>
</div>
} @else {
<div class="container-scroller">

    <app-menu></app-menu>

    <div class="page-body-wrapper">
        <app-nav></app-nav>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row d-block">
                    <div class="d-flex flex-wrap justify-content-center align-items-center">
                        <div>
                            <h2 class="text-light">Mobile Home</h2>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <div class="card bg-dark col-12 col-md-8 text-center">
                        <div class="card-header p-2 border-0">
                            <!-- <h5 class="card-title mb-0">Mobile Home Photo</h5> -->
                        </div>
                        <div class="card-body pt-0 px-2 pb-2">
                            <div class="col-12 p-0 d-flex flex-wrap justify-content-center">
                                <ngx-file-drop *ngIf="canInsertAdds" class="col-2 col-md-4 p-0"
                                    dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                                    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
                                    style="width: 200px; height: 200px; border: 2px dashed #DC3545; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                        <div class="text-center">
                                            <div class="text-light mr-2 mb-3">Drag and Drop Photos & Videos here</div>
                                            <button type="button" class="btn btn-danger"
                                                (click)="openFileSelector()">Browse Files</button>
                                        </div>
                                    </ng-template>
                                </ngx-file-drop>
                                @for (item of showImageVideo; track $index) {
                                @if (item.type === 'I') {
                                <img src="{{item.url}}" alt="Image" class="my-2" width="200px" height="200px"
                                    style="object-fit: cover;" />
                                } @else {
                                <video controls alt="video" width="200px" height="200px">
                                    <source src="{{item.url}}" type="video/mp4">
                                </video>
                                }
                                }

                                @if(flexMaxMessage) {
                                <div class="col-12">
                                    <p class="text-danger">You can only upload one image at a time.</p>
                                </div>
                                }
                                <div class="col-12 mt-3">
                                    <button type="submit" *ngIf="canInsertAdds" class="btn btn-danger w-25"
                                        (click)="addAds()">Submit</button>
                                </div>
                                <div class="upload-table col-10 p-0 mt-4">
                                    <!-- <h2 class="text-danger my-2" style="text-shadow: 2px 0px 5px #FFF;">Ads Images &
                                        Videos</h2> -->
                                    <!-- <span class="d-flex flex-wrap justify-content-between align-items-center">
                                        @for (imageUrl of allAds; track imageUrl;) {
                                        @if(imageUrl.Type === 'I')
                                        {
                                        <img src="{{imageUrl.url}}" alt="Image" class="mr-1 my-2" width="200px"
                                            height="200px" style="object-fit: cover;" />
                                        } @else {
                                        <video controls alt="video" width="200px" height="200px" class="mr-1 my-2">
                                            <source src="{{imageUrl.url}}" type="video/mp4">
                                        </video>
                                        }
                                        }
                                    </span> -->
                                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                                        @for (imageUrl of allAds; track imageUrl;) {
                                        @if (imageUrl.Type == 'I'){
                                        <div class="media-container">
                                            <img src="{{imageUrl.url}}" alt="Image" class="my-2" width="200px"
                                                height="200px" style="object-fit: cover;" />
                                            <button *ngIf="canDeleteAdds" class="btn btn-danger delete-btn"
                                                (click)="deleteImage(imageUrl)">Delete</button>
                                        </div>
                                        }
                                        @else{
                                        <div class="media-container">
                                            <video controls alt="video" width="200px" height="200px">
                                                <source src="{{imageUrl.url}}" type="video/mp4">
                                            </video>
                                            <button *ngIf="canDeleteAdds" class="btn btn-danger delete-btn"
                                                (click)="deleteImage(imageUrl)">Delete</button>
                                        </div>
                                        }
                                        }
                                    </div>
                                    @if(showErrorMessage === true) {
                                    <div
                                        style="display: flex; flex-basis: 100%; justify-content: center; align-items: center; height: 60vh;">
                                        <h2 class="text-danger text-center">There is no Data in the list.</h2>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div>
                    <div class="row">
                        <button type="button" class="btn btn-danger btn-md" (click)="addADS()"><span><i
                                    class="fa-solid fa-plus"></i></span>
                            Add Car </button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
}