
.search {
    .p-inputtext {
       width: 200px !important;
       border-color: #b5b0b0;
       margin-right: 10px;
       line-height: 32px;
    }
    .searchHeader {
       padding: 10px 10px 0px 0px;
       .criteria {
          float: left;
          width: 95%;
          align-items: self-start;
       }
    }
    .searchTable {
       background-color: #fff;
       padding: 20px 0px;
       min-height: 400px;
    }
    .requestFormDataWrap {
       display: flex;
       align-items: center;
       justify-content: flex-start;
       margin: 4px 0 10px 0px;
       label,
       div {
          display: inline-block;
          padding: 0px 10px;
          border: 1px solid ;
          background-color: #fff;
          line-height: 46px;
       }
       label {
          line-height: 44px;
       }
       div {
          margin-right: 20px;
          line-height: 38px;
          width: 93%;
       }
       .chipContainer {
          //border: 1px solid #ced4da;
          padding: 6px;
          max-height: 84px;
          min-height: 46px;
          overflow-x: hidden;
          overflow-y: auto;
       }
    }
 }

 .chipContainer {
   margin-top: 2px;
   border: 1px solid #ced4da;
   padding: 6px;
   max-height: 100px;
   overflow-x: hidden;
   overflow-y: auto;
 }
 .btnWrap {
   padding-top: 27px;
}