<!-- <mat-card-content class="formWrap" [formGroup]="RequestDetail">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-group">
                <label>Name :</label>
                <input type="text" formControlName="Name" name="Name" class="form-control">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Aadhaar No*</label>
                <input type="text" formControlName="AadhaaNo" name="AadhaaNo" class="form-control">
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <label>Email Id :</label>
            <input type="text" formControlName="EmailId" name="EmailId" class="form-control">
        </div>
        <div class="col-4">
            <div class="form-group">
                <label>Phone No</label>
                <input type="text" formControlName="Phone" name="Phone" class="form-control">
            </div>
        </div> -->
        <!-- <div class="col-4">
            <div class="form-group">
                <label>cheque :</label>
                <input type="File"  formControlName="ScannedchequeFile" name="ScannedchequeFile" class="form-control">
            </div>
        </div> -->
    <!-- </div>
</mat-card-content> -->


<mat-card-content class="formWrap" [formGroup]="requestForm">
    <div class="row justify-content-center" formArrayName="fields">
      <div class="col-4" *ngFor="let field of fieldsControl.controls; let i = index" [formGroupName]="i">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" formControlName="Name" name="Name" class="form-control">
        </div>
        <div class="form-group">
          <label>Aadhaar No:</label>
          <input type="text" formControlName="AadhaaNo" name="AadhaaNo" class="form-control">
        </div>
        <div class="form-group">
          <label>Email Id:</label>
          <input type="text" formControlName="EmailId" name="EmailId" class="form-control">
        </div>
        <div class="form-group">
          <label>Phone No:</label>
          <input type="text" formControlName="Phone" name="Phone" class="form-control">
        </div>
        <button mat-icon-button color="warn" (click)="removeField(i)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button mat-icon-button color="primary" (click)="addField()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
  